html,
body {
	margin: 0;
	padding: 0;
	font-family: serif;
}

h2 {
	font-size: 2rem;
	text-align: center;
	background: #9d1010;
	padding: 1rem;
	color: white;
}

.navbar {
	font-family: serif;
}

.nav-item> a {
	color: #150f61;
	font-size: large;
}

#coverimg {
	width: 100%;
	height: 70vh;
	object-fit: fill;
}

.myintro {
	background: #2b385a;
	height: 20vh;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	font-family: 'Lora', serif;
	color: white;
}

.mycards {

	/*	box-shadow:0px 0px 5px 0px #00000036;*/
	cursor: pointer;
}
.card{
 height: 35vh;
}
.card> img {
	height: 10rem;
}

.myslide {
	background: #2b385a;
	padding: 2rem;
	display: flex;
	justify-content: center;
}

.myslide img {
	width: 50%;
}

#add {
	padding: 3rem;

	& p {
		font-size: larger;
	}

}

#map {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}

@media screen and (max-width:960px) {
	#coverimg {
		height: 30vh;
	}

}
