@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	font-family: serif;
}

h2 {
	font-size: 2rem;
	text-align: center;
	background: #9d1010;
	padding: 1rem;
	color: white;
}

h5 {
	margin: 0 !important;
}

.navbar {
	font-family: serif;
}

.nav-item> a {
	color: #150f61;
	font-size: large;
}

.myintro_img {
	background: url("pics/slide/pic1.jpg");
	aspect-ratio: 1/0.3;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	display: flex;
	align-items: center;
	justify-content: center;

	marquee {
		background: #00000061;
	}

	& h1 {
		font-size: 4.5rem;
		color: white;
		padding: 1rem;
		font-family: fantasy;
		width: 100%;
		text-align: center;
	}

}

.myintro {
	background: #2b385a;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	font-family: 'Lora', serif;
	color: white;
	align-items: center;
}

.mycards {
	cursor: pointer;
}

.card {
	aspect-ratio: 1;

	& p {
		margin: 0;
	}

}

.card> img {
	height: 70%;
}

.card-body {
	background: #e7e6e64f;
}

.pinfo {
	font-size: 15px;
	color: #0000008a;
}

.card-text {
	margin-top: 1rem !important;
}

.price {
	color: #043804;
}

.card-title {
	color: #023e4d;
}

.order {
	& a {
		text-decoration: none;
	}

	& img {
		vertical-align: text-bottom;
	}

}

.custom_card {
	background: #2b385a;
	color: white;
	padding: 5px;

	& p {
		font-size: 10px;
	}

}

.banner {
	text-align: center;
	background: #cdbed52e;

	& h4 {
		padding: 0.5rem;
	}

}

.newCard {
	aspect-ratio: 1/0.5;
	margin-bottom: 2rem;
	border-radius: 10px;
	color: white;
	position: relative;
	transition: all 0.5s;
	cursor: pointer;
	font-family: 'Lobster', sans-serif;

	&> a {
		color: white;
	}

	&:hover {
		transform: translateY(-15px);
	}

}

.cardOverlay {
	position: absolute;
	background: #110223;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	border-radius: 10px;
	z-index: 2;
}

.newCard> img {
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.newCard h5 {
	position: absolute;
	font-size: 2rem;
	top: 35%;
	left: 30%;
	z-index: 3;
}

#add {
	padding: 3rem;

	& p {
		font-size: larger;
	}

}

#map {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}

@media screen and (max-width:960px) {
	#navbarSupportedContent {
		transition: all 0.5s;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.myintro_img {
		aspect-ratio: 1/0.5;
	}

	.myintro_img h1 {
		font-size: 1.5rem;
	}

	.custom_card> p {
		font-size: 1.5rem;
	}

}
